.svgtext {
	flex: none;
	position: relative;
	// left: -10%;
}

.svgtext text {
	fill: #fff;
	font-size: 64px;
}

.svgtext--1 text {
	fill: #737;
}

.svgtext--2 text {
	fill: #8569c2;
}

.svgtext--3 text {
	fill: #737;
}

.svgtext--4 {
	position: absolute;
}

.svgtext--4 text {
	font-size: 48px;
	fill: #f9e9a4;
}
